header{
    height: 100px;
}
nav{
    height: 300px;
    width: 20%;
    display: inline-block;
}
main{
    height: 300px;
    width: 72%;
    display: inline-block;
}
footer{
    height: 50px;
}

header, nav, main, footer{
    margin: 10px;
    padding: 15px;
    text-align: center;
    border: 1px solid black;
}